.advanced-search-widget {
  margin-bottom: 10px;
}

.original-search-widget {
display: inline;
}
.search-tweaks-advanced-search.enabled .original-search-widget {
  display: none;
}

.solr-search-widget {
  display: none;
}
.search-tweaks-advanced-search.enabled.use-solr-query .solr-search-widget {
  display: block;
}

.advanced-search-submit {
display: none;
}

.search-tweaks-advanced-search.enabled .advanced-search-submit {
  padding:10px 10px; border-radius:5px; width:30%;
  display:inline-block;
  background:#164959;
  color: #FFFFFF;
}
.search-tweaks-advanced-search.enabled.use-solr-query .advanced-search-submit {
  display: none;
}

.advanced-toggles label:after {
  content: none;
}

